@keyframes marquee {
  0%   { transform: translateX(100vw); }
  100% { transform: translateX(-100%); }
}
.marquee {
    animation: marquee 18s linear infinite;
}
.marquee:hover {
    animation-play-state: paused;
}