@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.marquee {
    animation: marquee 30s linear infinite;
}
.marquee:hover {
    animation-play-state: paused;
}